@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body, html, #root {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

* {
  font-family: "Karla", sans-serif ;
}

button, input {
  font-family: "Karla" !important;
}


*,
*:after,
*:before {
	box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#__next {
  width: 100%;
  height: 100vh;
}

/* text styles */
.text-heading {
  @apply xs:text-4xl lg:text-6xl
}

.text-regular20 {
  @apply xs:text-base lg:text-xl;
}

.text-regular16 {
  @apply text-base;
}

.text-regular14 {
  @apply lg:text-sm;
}



.text-highlight {
  @apply text-primary-400;
}

body::-webkit-scrollbar {
  display: none;
  overflow-x: hidden;
  margin-right: 10px;
}

*::-webkit-scrollbar-thumb {
  background: #c4c6c8;
  border-radius: 14px;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

input[type=search] { 	
  padding-left: 42px !important;
  padding-top: 
}

/* media queries */

@media only screen and (max-width: 1024px) {
  .home-page {
    text-align: center;
  }
}

